/**
 * MeteorShower.css - Meteor Shower Animation Styles
 * 
 * This file contains all styles for the meteor shower background effect:
 * - Container positioning (fixed, full-screen, behind content)
 * - Star field with random positions using box-shadow
 * - 15 meteor animations with varied positions and durations
 * - Keyframe animation for meteor movement
 * 
 * Note: The star positions are pre-generated to avoid SCSS dependencies.
 * Meteor positions use percentage-based left values for responsiveness.
 * 
 * @file src/components/portfolio/MeteorShower.css
 */

/* Container - Fixed full-screen background layer */
.meteor-shower-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

/* Star field - Multiple small white dots using box-shadow */
.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 
    1823px 521px #fff, 432px 891px #fff, 1203px 234px #fff, 789px 567px #fff,
    1456px 123px #fff, 234px 789px #fff, 1678px 345px #fff, 567px 912px #fff,
    890px 456px #fff, 1234px 678px #fff, 345px 234px #fff, 1567px 890px #fff,
    678px 345px #fff, 1890px 567px #fff, 123px 678px #fff, 1345px 234px #fff,
    456px 890px #fff, 1678px 123px #fff, 789px 456px #fff, 1012px 789px #fff,
    234px 345px #fff, 1456px 567px #fff, 567px 678px #fff, 1789px 234px #fff,
    890px 890px #fff, 1123px 345px #fff, 345px 567px #fff, 1567px 678px #fff,
    678px 234px #fff, 1890px 890px #fff, 123px 456px #fff, 1234px 567px #fff,
    456px 678px #fff, 1567px 234px #fff, 789px 890px #fff, 1012px 345px #fff,
    234px 567px #fff, 1345px 678px #fff, 567px 234px #fff, 1678px 890px #fff,
    890px 456px #fff, 1123px 567px #fff, 345px 678px #fff, 1456px 234px #fff,
    678px 890px #fff, 1789px 345px #fff, 123px 567px #fff, 1234px 678px #fff,
    456px 234px #fff, 1567px 890px #fff, 789px 345px #fff, 1890px 567px #fff,
    234px 678px #fff, 1123px 234px #fff, 567px 890px #fff, 1345px 345px #fff,
    890px 567px #fff, 1456px 678px #fff, 345px 234px #fff, 1678px 890px #fff,
    678px 345px #fff, 1789px 567px #fff, 123px 678px #fff, 1012px 234px #fff,
    456px 890px #fff, 1234px 345px #fff, 789px 567px #fff, 1567px 678px #fff,
    234px 234px #fff, 1890px 890px #fff, 567px 345px #fff, 1123px 567px #fff,
    890px 678px #fff, 1345px 234px #fff, 345px 890px #fff, 1456px 345px #fff,
    678px 567px #fff, 1678px 678px #fff, 123px 234px #fff, 1789px 890px #fff,
    456px 345px #fff, 1012px 567px #fff, 789px 678px #fff, 1234px 234px #fff,
    234px 890px #fff, 1567px 345px #fff, 567px 567px #fff, 1890px 678px #fff,
    890px 234px #fff, 1123px 890px #fff, 345px 345px #fff, 1345px 567px #fff,
    678px 678px #fff, 1456px 234px #fff, 123px 890px #fff, 1678px 345px #fff,
    456px 567px #fff, 1789px 678px #fff, 789px 234px #fff, 1012px 890px #fff,
    1523px 421px #fff, 332px 791px #fff, 1103px 134px #fff, 689px 467px #fff,
    1356px 223px #fff, 134px 689px #fff, 1578px 245px #fff, 467px 812px #fff,
    790px 356px #fff, 1134px 578px #fff, 245px 134px #fff, 1467px 790px #fff,
    578px 245px #fff, 1790px 467px #fff, 223px 578px #fff, 1245px 134px #fff,
    356px 790px #fff, 1578px 223px #fff, 689px 356px #fff, 912px 689px #fff,
    134px 245px #fff, 1356px 467px #fff, 467px 578px #fff, 1689px 134px #fff,
    790px 790px #fff, 1023px 245px #fff, 245px 467px #fff, 1467px 578px #fff,
    578px 134px #fff, 1790px 790px #fff, 223px 356px #fff, 1134px 467px #fff,
    356px 578px #fff, 1467px 134px #fff, 689px 790px #fff, 912px 245px #fff,
    134px 467px #fff, 1245px 578px #fff, 467px 134px #fff, 1578px 790px #fff,
    790px 356px #fff, 1023px 467px #fff, 245px 578px #fff, 1356px 134px #fff,
    578px 790px #fff, 1689px 245px #fff, 223px 467px #fff, 1134px 578px #fff,
    356px 134px #fff, 1467px 790px #fff, 689px 245px #fff, 1790px 467px #fff,
    134px 578px #fff, 1023px 134px #fff, 467px 790px #fff, 1245px 245px #fff,
    790px 467px #fff, 1356px 578px #fff, 245px 134px #fff, 1578px 790px #fff,
    578px 245px #fff, 1689px 467px #fff, 223px 578px #fff, 912px 134px #fff,
    356px 790px #fff, 1134px 245px #fff, 689px 467px #fff, 1467px 578px #fff,
    134px 134px #fff, 1790px 790px #fff, 467px 245px #fff, 1023px 467px #fff,
    790px 578px #fff, 1245px 134px #fff, 245px 790px #fff, 1356px 245px #fff,
    578px 467px #fff, 1578px 578px #fff, 223px 134px #fff, 1689px 790px #fff,
    356px 245px #fff, 912px 467px #fff, 689px 578px #fff, 1134px 134px #fff,
    134px 790px #fff, 1467px 245px #fff, 467px 467px #fff, 1790px 578px #fff,
    790px 134px #fff, 1023px 790px #fff, 245px 245px #fff, 1245px 467px #fff,
    578px 578px #fff, 1356px 134px #fff, 223px 790px #fff, 1578px 245px #fff;
}

/* Base meteor styles - shared by all meteors */
[class^="meteor-"] {
  position: absolute;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255,255,255,0));
}

/* Meteor glow head effect */
[class^="meteor-"]::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px 3px #fff;
}

/* Individual meteor positions and animation durations */
/* Each meteor has unique: top position, left percentage, animation duration */

.meteor-1 {
  top: 120px;
  left: 45%;
  animation: meteor 5.2s linear infinite;
}

.meteor-2 {
  top: 180px;
  left: 72%;
  animation: meteor 4.8s linear infinite;
  animation-delay: 0.3s;
}

.meteor-3 {
  top: 90px;
  left: 23%;
  animation: meteor 6.1s linear infinite;
  animation-delay: 1.2s;
}

.meteor-4 {
  top: 250px;
  left: 88%;
  animation: meteor 5.5s linear infinite;
  animation-delay: 0.8s;
}

.meteor-5 {
  top: 150px;
  left: 15%;
  animation: meteor 4.3s linear infinite;
  animation-delay: 2.1s;
}

.meteor-6 {
  top: 200px;
  left: 58%;
  animation: meteor 5.9s linear infinite;
  animation-delay: 0.5s;
}

.meteor-7 {
  top: 80px;
  left: 35%;
  animation: meteor 4.6s linear infinite;
  animation-delay: 1.8s;
}

.meteor-8 {
  top: 280px;
  left: 95%;
  animation: meteor 6.4s linear infinite;
  animation-delay: 1.0s;
}

.meteor-9 {
  top: 110px;
  left: 68%;
  animation: meteor 5.0s linear infinite;
  animation-delay: 2.5s;
}

.meteor-10 {
  top: 220px;
  left: 12%;
  animation: meteor 4.1s linear infinite;
  animation-delay: 0.7s;
}

.meteor-11 {
  top: 170px;
  left: 82%;
  animation: meteor 5.7s linear infinite;
  animation-delay: 1.5s;
}

.meteor-12 {
  top: 130px;
  left: 28%;
  animation: meteor 6.2s linear infinite;
  animation-delay: 2.0s;
}

.meteor-13 {
  top: 260px;
  left: 52%;
  animation: meteor 4.9s linear infinite;
  animation-delay: 0.2s;
}

.meteor-14 {
  top: 100px;
  left: 78%;
  animation: meteor 5.4s linear infinite;
  animation-delay: 1.3s;
}

.meteor-15 {
  top: 190px;
  left: 40%;
  animation: meteor 6.0s linear infinite;
  animation-delay: 2.3s;
}

/* Meteor animation keyframes */
/* Moves meteor diagonally from top-right to bottom-left with fade */
@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
